html{
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background: rgb(63, 63, 63);
}

body {
    background: white;
    width: 600px;
    margin: 0 auto;
    margin-top: 20pt;
    border: 5pt solid orange;
    padding: 0pt 20pt 20pt 20pt;
    height: fit-content;
}

p, li{
    font-size: 11pt;
    
}
h1 {    
    color: black;    
    width: fit-content;
    /*background-color: rgb(255, 184, 53);*/
}
h1:hover{
    color: white;
    font-size: 220%;
}

img{
    display: block;
    margin: 0 auto;
}

button{
    background: rgb(250, 218, 76);
    color: rgb(46, 46, 46);
    border: 0px;
    padding: 10px;    
    font-weight: bold;
    box-shadow: 2pt 2pt 6pt 0.1pt rgb(172, 172, 172)
    
}

button:hover{
    background: rgb(255, 230, 116);
}

button:active{
    background: rgb(255, 211, 17);
    border: 0px;
    box-shadow: 1pt 1pt 3pt 0.1pt rgb(172, 172, 172)!important
}